<h1 class="text-center text-white bg-danger p-2">Welcome Angular</h1>
<div class="container">
  <div class="row">
    <div class="col-12 mt-4 text-center">
      <app-products></app-products>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let skill of skills">
          I Love {{skill}}
        </li>
      </ul>
    </div>
  </div>
  <p class="para01">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
  </p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing eled.</p>
</div>