/* Base styles for list items */
ul li {
    color: rgb(228, 219, 216);
    background-color: rgb(32, 38, 38);
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 5px;
    margin: 10px;
    /* Add margin to all sides of the list items */
    padding: 10px;
    /* Add padding for better spacing */
}

/* Media query for responsiveness */
@media (min-width: 576px) {
    ul li {
        max-width: 100%;

        /* Limiting maximum width for small to medium screens */
    }
}

@media (min-width: 992px) {
    ul li {
        margin: 0 auto;
        width: 40%;
        margin-bottom: 20px;
        /* Limiting maximum width for larger screens */
    }
}

.para01,
p {
    color: rgb(151, 225, 164);
    background-color: rgb(3, 29, 3);
    padding: 15px;
    font-size: 21px;
    font-family: Georgia;
    text-align: center;
}